<div class="container">
    <div class="footer-widgets">
        <div class="row">
            <div class="col-md-4">
                <div class="foo-block">
                    <div class="widget widget-footer widget_text">
                        <h5 class="widgettitle">About Me</h5>
                        <div class="textwidget">
                            <p>I build my sessions with you to tell your story the way you want it told. If you are looking for an experience that puts your soul at ease & ignites that fire in your heart, let's talk. I can't wait to meet you.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="foo-block">
                    <div class="widget widget-footer widget_text">
                        <h5 class="widgettitle">Contact</h5>
                        <div class="textwidget">
                            <div id="contact-form-holder">
                                <form method="post" action="https://forms.un-static.com/forms/4f6dc09e5b33f56f9e6498bb0cd9c5677ef86d2d">
                                    <div class="form-group row">
                                        <div class="input-group col-sm-12">
                                        <div class="input-group-prepend"><i class="input-group-text fa fa-user"></i></div>
                                        <input name="name" type="text" class="form-control" id="inputName" placeholder="Name">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="input-group col-sm-12">
                                        <div class="input-group-prepend"><i class="input-group-text fa fa-envelope"></i></div>
                                        <input name="email" type="email" class="form-control" id="inputEmail" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                        <textarea name="message" cols="40" rows="8" class="form-control" placeholder="Message"></textarea>
                                        </div>
                                    </div>
                                    <div class="g-recaptcha" style="margin-bottom: 20px;" data-theme="dark" data-sitekey="6LdNvjseAAAAAIFHoEWOuf5y0af27lM1cwDc4yLu"></div>
                                    <div class="form-group row">
                                        <div class="col-sm-12 text-right">
                                        <button type="submit" class="btn btn-primary">Send</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="foo-block foo-last">
                    <div class="widget_text widget widget-footer widget_custom_html">
                        <h5 class="widgettitle">Quick Links</h5>
                        <div class="textwidget custom-html-widget">
                            <ul>
                                <li> <a href="index.html">Home</a></li>
                                <li><a href="pricing.html">Pricing</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="footer-copy"></div>
    </div>
</div>